/* Chrome, Edge, Safari */
.about-us-points-container::-webkit-scrollbar {
  width: 8px;
}

.about-us-points-container::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.about-us-points-container::-webkit-scrollbar-thumb {
  background: #ffd812;
  border-radius: 0 !important; /* force square */
  border: none;
}

.about-us-points-container::-webkit-scrollbar-thumb:hover {
  background-color: #feec94 !important;
}
